<p-toast></p-toast>
<div class="card flex justify-center">
    <div pFocusTrap class="w-full sm:w-100 flex flex-col gap-6 content">
        <div class="header-login">
            <p>Acessar Pro-Connect</p>
        </div>
        <div class="input-component">
            <p-iconfield>
                <p-inputicon>
                    <i class="pi pi-user"></i>
                </p-inputicon>
                <input type="text" pInputText id="input" [(ngModel)]="email" type="text" placeholder="Usuário"
                    [pAutoFocus]="true" [fluid]="true" />
            </p-iconfield>

            <p-iconfield>
                <p-inputicon>
                    <i class="pi pi-eye"> </i>
                </p-inputicon>
                <input type="text" pInputText id="email" [(ngModel)]="password" type="password" placeholder="Senha"
                    [fluid]="true" />
            </p-iconfield>

            <div class="flex items-center gap-2">
                <p-checkbox id="accept" [(ngModel)]="accept" name="accept" value="Accept" />
                <label for="accept">Eu declaro que li e concordo com os termos de uso.</label>
            </div>

        </div>

        <div class="button-component">
            <p-button label="Realizar login" class="mt-5 width" styleClass="w-full" [loading]="loading"
                (click)="load()" />

            <p-button label="Realizar cadastro" severity="secondary" class="mt-5 width" styleClass="w-full"
                [loading]="loading" (click)="openModal()" />
        </div>

    </div>
</div>

<p-dialog header="Atualizar Perfil" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [(visible)]="visibleEditProfile" [style]="{ width: '60rem', height: '50rem'}">

    <span class="text-header" autocomplete="username"></span>
    <form [formGroup]="formUser">
        <p-stepper [value]="1" class="basis-[50rem]">
            <p-step-list>
                <p-step [value]="1">Informações Pessoais</p-step>
                <p-step [value]="2">Endereço</p-step>
                <p-step [value]="3">Detalhes Adicionais</p-step>
            </p-step-list>
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-auto alinha-se-possui-flex">
                            <div class="input-row">
                                <label for="nome" class="label-input">Nome:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-user"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="nome" id="nome" type="text"
                                            class="flex-auto" />
                                    </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="email" class="label-input">Email:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-envelope"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="email" id="email" type="email"
                                            class="flex-auto" />
                                    </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">

                                <label for="senha" class="label-input">Senha: </label>
                                <div class="flex items-center gap-4  content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-key"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="senha" id="senha" type="password"
                                            class="flex-auto" autocomplete="new-password" />
                                    </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="email" class="label-input">Confirmar senha:</label>
                                <div class="flex items-center gap-4  content-input" style="padding-bottom: 6px;">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-verified"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="confirmPassword" type="password"
                                            id="confirmPassword" class="flex-auto" autocomplete="off" />
                                    </p-inputgroup>
                                </div>
                                <p-message
                                    *ngIf="formUser.get('confirmPassword')?.errors?.['senhasDiferentes'] && formUser.get('confirmPassword')?.touched"
                                    severity="error" icon="pi pi-times-circle" styleClass="mb-2">As senhas devem ser
                                    iguais.</p-message>

                            </div>

                            <div class="input-row">
                                <label for="cpfCnpj" class="label-input">CPF ou CNPJ:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-id-card"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="cpfCnpj" id="cpfCnpj" type="text"
                                            class="flex-auto" />
                                    </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="telefone" class="label-input">Telefone:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-phone"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="telefone" id="telefone" type="text"
                                            class="flex-auto" />
                                    </p-inputgroup>
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-6 justify-end">
                            <p-button label="Próximo" icon="pi pi-arrow-right" iconPos="right"
                                (onClick)="activateCallback(2)" [disabled]="!isStep1Valid()" />
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-auto alinha-se-possui-flex">
                            <div class="input-row">
                                <label for="cep" class="label-input">CEP:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-map-marker"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="cep" id="cep" type="text"
                                            class="flex-auto" /> </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="estado" class="label-input">Estado: </label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-select [options]="estados" formControlName="estado"
                                        placeholder="Selecionar estado" optionLabel="name" optionValue="code"
                                        class="w-full md:w-56" />
                                </div>
                            </div>



                            <div class="input-row">
                                <label for="cidade" class="label-input">Cidade: </label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-building"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="cidade" id="cidade" type="text"
                                            class="flex-auto" />
                                    </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="bairro" class="label-input">Bairro: </label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-home"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="bairro" id="bairro" type="text"
                                            class="flex-auto" />
                                    </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="numero" class="label-input">Número:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-hashtag"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="numero" id="numero" type="number"
                                            class="flex-auto" /> </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="referenciaEndereco" class="label-input">Referência:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-info-circle"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="referenciaEndereco" id="referenciaEndereco"
                                            type="text" class="flex-auto" />
                                    </p-inputgroup>
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-6 justify-between">
                            <p-button label="Voltar" severity="secondary" icon="pi pi-arrow-left"
                                (onClick)="activateCallback(1)" />
                            <p-button label="Próximo" icon="pi pi-arrow-right" iconPos="right"
                                (onClick)="activateCallback(3)" [disabled]="!isStep2Valid()" />
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">

                        <div class="flex flex-col h-auto alinha-se-possui-flex">
                            <div class="input-row">
                                <label for="tipoDoacao" class="label-input">Tipo de Doação Principal:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-inputgroup>
                                        <p-inputgroup-addon>
                                            <i class="pi pi-heart"></i>
                                        </p-inputgroup-addon>
                                        <input pInputText formControlName="tipoDoacao" id="tipoDoacao"
                                            placeholder="Ex: Alimentos, Roupas, Dinheiro" type="text"
                                            class="flex-auto" />
                                    </p-inputgroup>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="sobreNos" class="label-input">Sobre (Descrição):</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <textarea pTextarea id="over_label" formControlName="sobreNos" rows="5" cols="30"
                                        class="h-full"></textarea>
                                </div>
                            </div>

                            <div class="input-row">
                                <label for="sobreNos" class="label-input">Tipo de Perfil:</label>
                                <div class="flex items-center gap-4 mb-4 content-input">
                                    <p-select [options]="tiposPerfil" formControlName="tipoPerfil"
                                        placeholder="Selecione se ONG ou Doador" optionLabel="name" optionValue="code"
                                        class="w-full md:w-56" />
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-end gap-2 content-button-more-margin">
                            <p-button label="Cancelar" severity="secondary" (click)="closeModal()" />
                            <p-button label="Salvar Informações" (click)="submitUser()" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </form>

</p-dialog>