<!-- <app-header *ngIf="currentUser" [userLogin]="currentUser"></app-header> -->
<main>
    <div class="content">

        <div class="card">
            <p-table [value]="dataSource" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template #header>
                    <tr>
                        <th style="width:9%">Nome</th>
                        <th style="width:9%">Email</th>
                        <th style="width:9%">Telefone</th>
                        <th style="width:5%">Estado</th>
                        <th style="width:9%">Cidade</th>
                         <th style="width:9%">Bairro</th>
                         <th style="width:9%">Tipo de Doação</th>
                        <th style="width:9%">Solicitar Doação</th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.telefone }}</td>
                        <td>{{ item.estado }}</td>
                         <td>{{ item.cidade }}</td>
                          <td>{{ item.bairro }}</td>
                          <td>{{ item.tipoDoacao }}</td>
                       
                        <td class="buttons-table">
                            <p-button icon="pi pi-plus" class="mr-2" [rounded]="true" [outlined]="true"
                                (click)="solicitarDoacao(item.id)" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</main>