<app-header *ngIf="userLogin" [userId]="userLogin.id"></app-header>
<main>
    <div *ngIf="userLogin?.tipoPerfil === 1" class="cabecalho-tabela">
        <h3 class="text">Doares Cadastrados</h3>
    </div>
    <div *ngIf="userLogin?.tipoPerfil === 2" class="cabecalho-tabela">
        <h3 class="text" >ONG's Cadastradas</h3>
    </div>
    <div class="content">
        <div class="card">
            <p-table [value]="dataSource" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
                [rowsPerPageOptions]="[5, 10, 20]">
                <ng-template #header>
                    <tr>
                        <th pSortableColumn="nome"
                            style="width:11% ; background-color: var(--p-emerald-700) !important; color: #fff;">Nome
                            <p-sortIcon field="nome" /></th>
                        <th pSortableColumn="email"
                            style="width:12%; background-color: var(--p-emerald-700) !important; color: #fff;">Email
                            <p-sortIcon field="email" /> </th>
                        <th pSortableColumn="tipoPerfil"
                            style="width:6%; background-color: var(--p-emerald-700) !important; color: #fff;">Perfil
                            <p-sortIcon field="tipoPerfil" />
                        </th>
                        <th pSortableColumn="telefone"
                            style="width:10%; background-color: var(--p-emerald-700) !important; color: #fff;">Telefone
                            <p-sortIcon field="telefone" />
                        </th>
                        <th pSortableColumn="estado"
                            style="width:8%; background-color: var(--p-emerald-700) !important; color: #fff;">Estado
                            <p-sortIcon field="estado" />
                        </th>
                        <th pSortableColumn="cidade"
                            style="width:9%; background-color: var(--p-emerald-700) !important; color: #fff;">Cidade
                            <p-sortIcon field="cidade" />
                        </th>
                        <th pSortableColumn="bairro"
                            style="width:9%; background-color: var(--p-emerald-700) !important; color: #fff;">Bairro
                            <p-sortIcon field="bairro" />
                        </th>
                        <th pSortableColumn="tipoDoacao"
                            style="width:12%; background-color: var(--p-emerald-700) !important; color: #fff;">Tipo de
                            Doação <p-sortIcon field="tipoDoacao" />
                        </th>
                        <th *ngIf="userLogin?.tipoPerfil === 1"
                            style="width:10%; background-color: var(--p-emerald-700) !important; color: #fff;">Solicitar
                            Doação</th>
                        <th *ngIf="userLogin?.tipoPerfil === 2"
                            style="width:10%; background-color: var(--p-emerald-700) !important; color: #fff;">Realizar
                            Doação</th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ converterPerfil(item.tipoPerfil )}}</td>
                        <td>{{ item.telefone }}</td>
                        <td>{{ item.estado }}</td>
                        <td>{{ item.cidade }}</td>
                        <td>{{ item.bairro }}</td>
                        <td>{{ item.tipoDoacao }}</td>


                        <td class="buttons-table" *ngIf="this.userLogin.tipoPerfil === 1">
                            <p-button icon="pi pi-plus" class="mr-2" [rounded]="true" [outlined]="true"
                                (click)="solicitarDoacao(item.id, item.tipoDoacao)" />
                        </td>

                        <td class="buttons-table" *ngIf="this.userLogin.tipoPerfil === 2">
                            <p-button icon="pi pi-plus" class="mr-2" [rounded]="true" [outlined]="true"
                                (click)="realizarDoacao(item.id, item.tipoDoacao)" />
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</main>